[submodule "Dumbledraw"]
	path = Dumbledraw
	url = git@github.com:KIT-CMS/Dumbledraw.git
        branch = master
[submodule "ntuple_processor"]
	path = ntuple_processor
	url = git@github.com:KIT-CMS/ntuple_processor.git
	branch = master
[submodule "datasets"]
	path = datasets
	url = git@github.com:KIT-CMS/KingMaker_sample_database.git
        branch = main
